*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    color: #343132;
    background-color: #eeeeee;
    height: 1000px;
}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #ffffff;
    padding: 25px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 60px;
}
.logo{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 70%;
}
.logo a{
    font-size:35px;
    text-decoration: none;
    text-transform: uppercase;
    color: #343132;
    font-weight: 700;
}
.menu{
    float: right;
}
.menu li{
    float: right;
    margin-left: 35px;
    color: #c6c8c2;
}
.menu li:last-child{

}
.menu li:nth-child(odd){

}
.menu li a{
    font-size: 18px;
    color: #c6c8c2;
    transition: all 150ms;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}
.menu li a:hover{
    color: #343132;
}
.content{
    float: left;
    width: 66.67%;
    padding-right: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

.content .tweet{
    background-image: url("../img/mau-background-don-gian-03-1024x819.jpg");
    background-size: cover;
    float: left;
    width: 100%;
    height: 100px;
}
.tweet .tweet-content{
    background-color: #ff253a50;
    float: left;
    width: 100%;
    padding: 30px;
}
.tweet h2{
    font-size: 20px;
    color: #ffffff;
    text-indent: 29px;
    padding-top: 10px
}
.tweet h3{
    line-height: 50px;
    text-indent: 29px;
    padding-top: 10px
}
.icon{
    width: 100%;
    height: 350px;
    margin-top: 130px;
}
.icon_2{
    width: 100%;
    height: 350px;
    margin-top: 30px;
}
.post h3{
    line-height: 50px;
    text-indent: 29px;
    padding-top: 10px
}
.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    letter-spacing: 6px;
    text-indent: 29px;
    padding-top: 10px;
}
.post h4{
   line-height: 30px;
    padding-top: 33px;
    text-indent: 1.5em;
    margin-bottom: 30px
}
.post_1 h3{
    line-height: 50px;
    text-indent: 1.5em;
}
.post_1 h4{
    padding-top: 33px;
    text-indent: 1.5em;
    margin-bottom: 30px
}
.post{
    background-color: white;
}
.post_1{
    background-color: white;
}
.icon_2 h4{
    line-height:30px ;
}
.myButton {
    background-color:#ffec64;
    border-radius:27px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:20px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
    background-color:#ffab23;
}
.myButton:active {
    position:relative;
    top:1px;
}
.myButton_1 {
    background-color:#ffec64;
    border-radius:27px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:20px 76px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover_1 {
    background-color:#ffab23;
}
.myButton_1:active {
    position:relative;
    top:1px;
}
.recent-posts ul li p{
    line-height: 50px;
    display: block;
}
.sidebar .recent-posts p{
    width: 280px;
    background-color: white;
    float: left;
    height: 50px;
    line-height: 10px;
    padding-top: 20px;
}
.sidebar .recent-posts ul li p{
    background: url("../img/picture.png") no-repeat 3px;
    background-color: white;
    text-indent: 40px;
    font-size: 15px;
    font-family: Arial;
}
.recent-posts ul li{
    list-style: none;
}
.recent-posts_1{
    padding-top: 400px;

}
.sidebar .recent-posts ul{
    margin-left: 100px;
}
.recent-posts_1 ul li p {
    line-height: 50px;
    display: block;
    background: url("../img/document.png") no-repeat 3px;
    text-indent: 40px;
    font-size: 15px;
    font-family: Arial;
}
.sidebar .recent-posts_1 p{
    width: 280px;
    background-color: white;
    float: left;
    height: 100%;
    padding-top: 20px;
}
.sidebar .recent-posts_1 ul li {
    list-style: none;
}






